.profile-body{
    border: solid 1px purple;
    width: 1050px;
    height: fit-content;
    margin: 6px 100px 10px 100px;
}
.user-bar{
    border: solid 1px orange;
    width: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}
.body-select{
    border: solid 1px green;
    width: 50px;
    height:30px;
}
.profile-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.photo{
    width: fit-content;
    height: fit-content;
    margin: 10px;
   
}
