.profile-body{
    width: 1050px;
    height: fit-content;
    margin: 6px 100px 10px 100px;
}
.profile-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.photo{
    width: fit-content;
    height: fit-content;
    margin: 10px;
   
}
